<h2> this is administrate page </h2>

 
<%= link_to 'new student', new_student_path %> 
<br/><%= link_to 'new teacher',  new_teacher_path %>

<br/>

<%= link_to 'allstudents', students_path %>
<%= link_to 'all teachers', teachers_path %>



<%#= button_to  'ALLTEACHERS', teachers_path %>